<h1>Stupid Coaching</h1>

<h3>Ask your coach anything!</h3>

<form action="/answer" method="get">
  <label for="questions">Typ here your question: </label>
  <input class="addtext" type="text" name="question">
  <input class="submit" type="submit" value="Ask!">
</form>
